body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

canvas{
    display: block;
}

.left {
    float: left;
    width: 79%;
    height: 100%;
}

.right {
    width: 100%;
    height: 100%;
    padding-right: 50px;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
font-family: "Raleway", sans-serif;
}